<div class="footer">
  <div class="links">
    <div class="div1 hello">
      <h4>Product</h4>
      <p>Coding</p>
      <p>Prototyping</p>
      <p>Knowledge Sharing</p>
      <p> Feedback</p>
      <p>What’s New</p>
    </div>
    <div class="div2 hello">
      <h4> Explore</h4>

      <p>Featured Sandboxes</p>
      <p>Search Sandboxes</p>
    </div>
    <div class="div3 hello">
      <h4>About</h4>
      <p>Pricing</p>
      <p>Company</p>
      <p>Blog</p>
      <p> Feedback</p>
      <p>What’s New</p>
    </div>
    <div class="div3 hello">
      <h4>Support</h4>
      <p>Documentation</p>
      <p>Contact Support</p>
      <p>Blog</p>
      <p> Status</p>
    </div>
  </div>
  <div class="icons">
    <div class="icon1">
      <div class="insta">
        <img width="30" height="30" src="https://img.icons8.com/fluency/48/instagram-new.png" alt="instagram-new" />
      </div>
      <div class="teitter">
        <img width="30" height="30" src="https://img.icons8.com/fluency/48/twitter.png" alt="twitter" />
      </div>
      <div class="linkdin">
        <img width="30" height="30" src="https://img.icons8.com/fluency/48/linkedin.png" alt="linkedin" />
      </div>
      <div class="reddit">
        <img width="30" height="30" src="https://img.icons8.com/doodle/48/reddit--v4.png" alt="reddit--v4" />
      </div>
    </div>
    <div class="icon2">
      <p>CopyRight &copy; 2024 nikhilGroup</p>
    </div>
  </div>
</div>