<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Bloggers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-link-item" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-tabs">
        <a class="nav-link " href="/Home">Home</a>
        <a class="nav-link" href="/Blog">Blog</a>
        <a class="nav-link" href="/Blog/new">New</a>
        <a class="nav-link" href="/carrier">Carrier</a>
      </div>
      <div class="navbar-nav login-tabs">
        <% if(!Curruser){%>
          <a class="nav-link" href="/Authentication/Login">Login</a>
          <%}%>
            <%if(Curruser){%>
              <div class="logout-section">
                <div class="logout-button">
                  <a class="nav-link" href="/Authentication/Logout">Logout</a>
                </div>
                <div class="img-section">
                  <a href="/Blog/asset">
                    <img width="20" height="20" src="https://img.icons8.com/office/40/user.png" alt="user" />
                  </a>
                </div>
              </div>
              <%}%>
      </div>
    </div>
  </div>
</nav>