<%- layout("./layout/boilerplate.ejs") -%>
  <div class="main-carrier-section">
    <h1>Sorry No Openings at <span class="tomato">Nikhil group</span> </h1>
    <p>if there is an opening we Will inform you By your Regisgterd <span class="frnd">email id</span></p>
  </div>