<%- layout("./layout/boilerplate.ejs") -%>
  <div class="main-home-section">
    <div class="text-section">
      <h1>Welcome To <span class="tomato">Blogging</span> Page <br />
        Share your Thought's With <span class="frnd">Friends</span>
      </h1>
      <button class="explore-button"><a href="/blog">Explore</a></button>
    </div>
    <div class="image-section">
      <img src="https://www.studytienganh.vn/upload/2021/04/95496.jpg" alt="">
    </div>
  </div>